:root {
  --primary-color: #fff;
  --secondary-color: #fff;

  --text-color: #000;
  --heading-color: #000;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100%;
  font-size: 1.6rem;
  font-family: "Kumbh Sans", sans-serif;
}
