<!-- long button (icon with text) -->

<button class="btn btn--long btn--primary btn--group">
  <svg class="icon icon--btn">
    <use xlink:href="/images/icons.svg#icon-cart"></use>
  </svg>
  <div>Add to Cart</div>
</button>

<!-- long button (only text) -->

<button class="btn btn--long btn--primary">Add to Cart</button>

<!-- small button (only icon) -->

<button class="btn btn--small">
  <svg class="icon icon--primary">
    <use xlink:href="/images/icons.svg#icon-cart"></use>
  </svg>
</button>
